/* タイトル */
#tytle {
  text-align: center;
  font-size: 1.8em;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  padding-top: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.2em;
  margin-bottom: 0.5em;
  border: 4px double #619f60;
  border-radius: 0.5em;
  text-shadow:
     2px  2px 1px #003366,
    -2px  2px 1px #003366,
     2px -2px 1px #003366,
    -2px -2px 1px #003366,
     2px  0px 1px #003366,
     0px  2px 1px #003366,
    -2px  0px 1px #003366,
     0px -2px 1px #003366;
}

/* タブ用設定*/
.area {
  width: 80em;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}
.tab_class {
  width: calc(99%/4);
  height: 2.5em;
  background-color: darkgrey;
  line-height: 2.5em;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  display: block;
  float: left;
  margin: 1px;
  order: -1;
}
input[name="tab_name"] {
  display: none;
}
input:checked + .tab_class {
  background-color: deepskyblue;
  color: aliceblue;
}
.content_class {
  display: none;
  width: 100%;
}
input:checked + .tab_class + .content_class {
  display: block;
  padding: 0.5em;
  background: #ebf4f4;
}

/* 説明用 */
.description {
  background: #414fa3;
  color: #fff;
  display: block;
  height: 1.7em;
  padding-top: 0.2em;
  padding-left: 1em;
  margin: 0;
}
.description_content {
  background: linear-gradient(#006400, 75%, #000000);
  border: double;
  color: #fff;
  height: 0;
  opacity: 0;
  transition: .5s;
  visibility: hidden;
}
.description_check:checked + .description + .description_content {
  height: auto;
  padding-top: 0.1em;
  padding-left: 2em;
  margin: 0;
  opacity: 1;
  visibility: visible;
}
.sub_description {
  background: #4198a3;
  color: #fff;
  display: block;
  height: 1.7em;
  padding-top: 0.2em;
  padding-left: 1em;
  margin: 0;
}
.sub_description_content {
  border: solid;
  height: 0;
  opacity: 0;
  transition: .5s;
  visibility: hidden;
}
.sub_description_check:checked + .sub_description + .sub_description_content {
  height: auto;
  padding-top: 0.1em;
  padding-left: 2em;
  margin: 0;
  opacity: 1;
  visibility: visible;
}

/* 概要部 */
/* ワシの説明 */
#voyage {
  font-size: 1.2em;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  border: double;
  background:linear-gradient(#006400, 75%, #000000);
  padding: 0.5em;
}

/* チャート皮算用 */
/* テーブルレイアウト */
#sumexptbl {
  border-collapse: collapse;
  width: 100%;
}
th,td {
  white-space: nowrap;
  border: solid 1px;
  vertical-align: middle;
  text-align: center;
  align-content: center;
}
th {
  background:#ffccff;
  position: sticky;
  top: 0em;
}
input {
  text-align: center;
  vertical-align: middle;
  align-content: center;
}
.num {
  width:80%;
  text-align: center;
}
/* フッタ表示固定 */
.footer {
  position: sticky;
  width: 25em;
  bottom: 0.5em;
  left: auto;
  background: lightgreen;
  padding: 0.5em;
  border-radius: 0.5em;
}

/* 攻撃力シミュレータ */
/* ヘッダ*/
.dmgcalchead {
  position: sticky;
  top: 0;
  background: lightgoldenrodyellow;
  padding: 0.5em;
  border: solid 1px;
}
/* 数値項目 */
.dmgcalc {
  width:3em;
  text-align: center;
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance:textfield;
}
.dmgcalcres {
  font-size: 1.1em;
  width:5em;
  font-weight: bold;
  text-align: center;
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance:textfield;
}
/* グループ分け */
.dmg_group{
  background: lightgreen;
}
/* ラベル系表示 */
label {
  white-space: nowrap;
}